<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="functional test">
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="VerifyLogin"></include>
                    <include name="TestMethod"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>